<form>
    <label>Car Name:</label><br>
    <input type="text" id="carname" name="carname" required><br><br>
    <label>Car Model:</label><br>
    <input type="text" id="carmodel" name="carmodel" required><br><br>
    <label>Renting Price:</label><br>
    <input type="number" id="rentprice" name="rentprice" required><br><br>   
    <label>Car Pictures:</label><br>
    <input type="file"><br><br>
    <input type="submit" value="Submit">
  </form>