<input type="checkbox" id="sidebar-toggle">     
<div class="sidebar">
  <div class="sidebar-header">
      <h3 class="brand">
          <span>Unstoppables</span>
      </h3> 
      <label for="sidebar-toggle" class="ti-menu-alt"></label>
  </div>
  
  <div class="sidebar-menu">
      <ul>
          <li>
              <a href="/">
                  <span class="ti-home"></span>
                  <span>Home</span>
              </a>
          </li>
          <li>
              <a href="/carlist">
                  <span class="ti-agenda"></span>
                  <span>List of Cars</span>
              </a>
          </li>
          <li>
              <a href="/booking">
                  <span class="ti-time"></span>
                  <span>Bookings</span>
              </a>
          </li>
          <li>
              <a href="">
                  <span class="ti-book"></span>
                  <span>Contacts</span>
              </a>
          </li>
          <li>
              <a href="">
                  <span class="ti-settings"></span>
                  <span>Account</span>
              </a>
          </li>
      </ul>
  </div>
</div>
<form>
    <label>Car Name:</label><br>
    <input type="text" id="carname" name="carname"><br><br>
    <label>Car Model:</label><br>
    <input type="text" id="carmodel" name="carmodel"><br><br>
    <label>Car Pictures:</label><br>
    <input type="file"><br><br>
    <input type="submit" value="Submit">
  </form>