     <div class="main-content">
     <main>     
          <section class="recent">
              <div class="activity-grid">
                  <div class="activity-card">
                      <h3>List of Cars                  
                            <a href="/carform">Add Car</a>
                    </h3>
                      <div class="table-responsive">
                          <table>
                              <thead>
                                  <tr>
                                      <th>Car</th>
                                      <th>Mileage</th>
                                      <th>Acquired</th>
                                      <th>Status</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>2018 Toyota Vios</td>
                                      <td>69,420km</td>
                                      <td>22 Aug, 2020</td>
                                      <td>
                                          <span class="badge success">In shop</span>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>2020 Isuzu MUX</td>
                                      <td>40,000km</td>
                                      <td>22 Aug, 2020</td>
                                      <td>
                                          <span class="badge repair">Repairing</span>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>2011 Isuzu DMAX</td>
                                      <td>85,000km</td>
                                      <td>22 Aug, 2020</td>
                                      <td>
                                          <span class="badge success">In shop</span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  </div>
              </div>
          </section>
          
      </main>
     </div>