<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
    <main>
        <%- include('../partials/sidebar'); %>
        <%- include('../partials/editprofile'); %>
    </main>
</body>
</html>